src/assets/distance.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8082/ws/distance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8082/ws/distance" targetNamespace="http://localhost:8082/ws/distance">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8082/ws/distance">
      <!--
       <xs:element name="AuthHeader" type="xs:AuthHeader" />
          <xs:complexType name="AuthHeader">
              <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
              </xs:sequence>
          </xs:complexType>
      -->
      <xs:element name="UsernameToken">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="Username"/>
            <xs:element minOccurs="1" name="Password"/>
          </xs:sequence>
          <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="RouteRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="node" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RouteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="shortest-route" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RouteRequest">
    <wsdl:part element="tns:RouteRequest" name="RouteRequest"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RouteResponse">
    <wsdl:part element="tns:RouteResponse" name="RouteResponse"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DistancePort">
    <wsdl:operation name="Route">
      <wsdl:input message="tns:RouteRequest" name="RouteRequest"> </wsdl:input>
      <wsdl:output message="tns:RouteResponse" name="RouteResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistancePortSoap11" type="tns:DistancePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Route">
      <soap:operation soapAction=""/>
      <wsdl:input name="RouteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RouteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistancePortService">
    <wsdl:port binding="tns:DistancePortSoap11" name="DistancePortSoap11">
      <soap:address location="http://localhost:8082/ws/distance"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
